<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="co.uk.whiteoctober.cordova.AppVersion"
    version="0.0.1">

    <name>AppVersion</name>
    <description>
        This plugin will return the version of your App that you have set in
        packaging it. I.e. it will always match the version in the app store.
    </description>
    
    <js-module src="www/AppVersionPlugin.js">
       <clobbers target="cordova.getAppVersion" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <plugins-plist key="AppVersion" />

        <header-file src="src/ios/AppVersion.h" />
        <source-file src="src/ios/AppVersion.m" />
    </platform>
</plugin>
